.cart-container {
    padding: 20px;
  }
  
  .cart-item {
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ccc;
  }
  .container{
    height: 75vh;
    width: 100%;
    align-items: center;
    justify-content: center;
    display: flex;
  }